@media (max-width: 1141px) {
    .intensive__wrapper {
        flex-direction: column;
        align-items: center;
    }
    .skills__item {
        width: 160px;
    }
}
@media (max-width: 823px) {
    .skills__box {
        row-gap: 24px;
    }
    .skills__item {
        width: 224px;
    }
}
@media (max-width: 786px) {
    .info h2 {
        text-align: center;
    }
    .info__text {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    .title__big {
        font-size: 50px;
        color: #fff;
        line-height: 50px;   
    }
    .title__colored {
        font-size: 31px;
        color: #f9bf3b;
        line-height: 31px;
    }
    .info__img {
        display: block;
        position: relative;
    }
    .info {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
@media (max-width: 425px) {
    .intensive {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .info {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .footer {
        padding: 18px 0;
    }
    .finish__title {
        font-size: 20px;
    }
    .finish__date {
        font-size: 24px;
    }
    .finish__text {
        font-size: 18px;
    }
}