html {
    font-family: Roboto;
}

.container {
    max-width: 1160px;
    padding: 0 10px;
    margin: 0 auto;
    position: relative;
}

.btn {
    display: block;
    margin: 0 auto;
    padding: 0 16px;
    min-width: 315px;
    min-height: 72px;
    color: #fff;
    font-size: 21px;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.22);
    cursor: pointer;
    border: none;
    border-radius: 6px;
    text-transform: uppercase;
    background: linear-gradient(0deg, #ff4d00 0%, #feb05d 100%);
}

.title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
}

.title__colored {
    font-size: 41px;
    color: #f9bf3b;
    line-height: 41px;
}

.title__big {
    font-size: 80px;
    color: #fff;
    line-height: 80px;
}

.title-secondary {
    font-size: 30px;
    text-transform: uppercase;
    /* text-align: center; */
}

.promo {
    /* min-height: 700px; */
    padding: 22px 0 53px;
    background: url(../img/bg/main_bg.jpg) center center / cover no-repeat;
}

.logo__img {
    display: block;
    margin: 0 auto 13px;
}

.logo__text {
    margin-bottom: 52px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
}

.promo h1,
h2 {
    margin-bottom: 12px;
}

.promo h2.title__colored {
    margin-bottom: 20px;
}

.promo__text {
    margin-bottom: 75px;
    color: #fff;
    text-align: center;
    font-size: 21px;
    line-height: 28px;
}

.promo__text span {
    text-transform: uppercase;
    color: #f9bf3b;
}

.promo .btn {
    margin-bottom: 75px;
}

.promo__more-text {
    margin-bottom: 10px;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
}

.promo__more-img {
    display: block;
    margin: 0 auto;
}

.intensive {
    padding: 80px 0 93px;
    background: #efefef;
}

.intensive h2 {
    margin-bottom: 14px;
    text-align: center;
}

.divider {
    margin: 0 auto 14px;
    width: 217px;
    height: 4px;
    border-radius: 1px;
    background-color: #f9bf3b;
}

.intensive__subtitle {
    font-size: 23px;
    text-align: center;
    color: #4a4a4a;
    margin-bottom: 42px;
}

.intensive__wrapper {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.intensive__item {
    margin-bottom: 15px;
    width: 360px;
}

.intensive__img {
    margin-bottom: 15px;
}

.intensive__descr {
    font-weight: 300;
    font-size: 16px;
    line-height: 131%;
    text-align: center;
    color: #4a4a4a;
}

.info {
    padding: 100px 0 140px;
    background-color: #0f0b0b;
}

.info h2 {
    margin-bottom: 22px;
    text-align: right;
    font-weight: 900;
    color: #f9bf3b;
}

.info__text {
    max-width: 750px;
    margin-left: auto;
    color: #fff;
    text-align: right;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.2;
    position: relative;
    z-index: 20;
}

.info__text:not(:last-child) {
    margin-bottom: 19px;
}

.info__text:last-child {
    margin-bottom: 19px;
    font-weight: 700;
}

.info__img {
    max-width: 100%;
    position: absolute;
    left: 1%;
    bottom: -40%;
}

.skills {
    padding: 80px 0 90px;
    background: url(../img/bg/bottom_bg.jpg) center / cover no-repeat;
}

.skills h2 {
    margin-bottom: 22px;
    text-align: center;
    color: #fff;
}

.skills .divider {
    margin-bottom: 40px;
}

.skills__box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.skills__item {
    width: 224px;
    /* margin-bottom: 5px; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.skills__round {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 116px;
    height: 116px;
    border-radius: 50%;
    background-color: #f9bf3b;
}

.skills__descr {
    font-weight: 300;
    font-size: 16px;
    text-align: center;
    color: #efefef;
}

.present {
    padding: 80px 12px;
    text-align: center;
    background-color: #efefef;
}

.present__img {
    margin-bottom: 80px;
}

.present__text {
    margin-bottom: 50px;
    font-weight: 500;
    font-size: 30px;
    line-height: 150%;
    text-align: center;
    color: #252525;
}

.finish {
    background-color: #0F0B0B;
    padding: 50px 0;
    text-align: center;
}

.finish__img {
    display: block;
    margin: 0 auto;
    margin-bottom: 40px;
    max-width: 100%;
}

.finish__title {
    color: #fff;
    margin-bottom: 20px;
}

.finish__date {
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 36px;
    line-height: 100%;
    text-transform: uppercase;
    text-align: center;
    color: #f9bf3b;
}

.finish__text {
    font-weight: 500;
    font-size: 23px;
    text-align: center;
    color: #efefef;
}

.footer {
    background-color: #1A1A1A;
    padding: 58px 0;
}

.footer__info {
    font-weight: 300;
    font-size: 16px;
    line-height: 150%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-align: center;
    color: #888;
}