html {
    font-family: Roboto;
}

.container {
    max-width: 1160px;
    padding: 0 10px;
    margin: 0 auto;
}

.btn {
    display: block;
    margin: 0 auto;
    padding: 0 16px;
    min-width: 315px;
    min-height: 72px;
    color: #fff;
    font-size: 21px;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.22);
    cursor: pointer;
    border: none;
    border-radius: 6px;
    text-transform: uppercase;
    background: linear-gradient(0deg, #ff4d00 0%, #feb05d 100%);
}

.title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
}

.title__colored {
    font-size: 41px;
    color: #f9bf3b;
    line-height: 41px;
}

.title__big {
    font-size: 80px;
    color: #fff;
    line-height: 80px;
}

.title-secondary {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}

.promo {
    /* min-height: 700px; */
    padding: 22px 0 53px;
    background: url(../img/bg/main_bg.jpg) center center / cover no-repeat;
}

.logo__img {
    display: block;
    margin: 0 auto 13px;
}

.logo__text {
    margin-bottom: 52px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
}

.promo h1,
h2 {
    margin-bottom: 12px;
}

.promo h2.title__colored {
    margin-bottom: 20px;
}

.promo__text {
    margin-bottom: 75px;
    color: #fff;
    text-align: center;
    font-size: 21px;
    line-height: 28px;
}

.promo__text span {
    text-transform: uppercase;
    color: #f9bf3b;
}

.promo .btn {
    margin-bottom: 75px;
}

.promo__more-text {
    margin-bottom: 10px;
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
}

.promo__more-img {
    display: block;
    margin: 0 auto;
}

.intensive {
    padding: 80px 0 93px;
    background: #efefef;
}

.intensive h2 {
    margin-bottom: 14px;
}

.divider {
    margin: 0 auto 14px;
    width: 217px;
    height: 7px;
    background-color: #f9bf3b;
}

.intensive__subtitle {
    font-size: 23px;
    text-align: center;
    color: #4a4a4a;
    margin-bottom: 42px;
}

.intensive__wrapper {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.intensive__item {
    margin-bottom: 15px;
    width: 360px;
}
.intensive__img {
    margin-bottom: 15px;
}

.intensive__descr {
    font-weight: 300;
    font-size: 16px;
    line-height: 131%;
    text-align: center;
    color: #4a4a4a;
}